<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h5>/api/follow-url/</h5>
    <code>curl -i -X POST -H 'Content-Type: application/json' -d '{"url":"http://bbc.co.uk"}' http://localhost:3000/api/follow-url</code>
  </body>
</html>
